<div class="row main-logo">
  <div class="col s12">
    <div>
      <%= image_tag "rout_logo_black.png", class: "logo center" %>
      <h3 class="tag-line center white-text">We make it all about the journey.</h3>
    </div>
  </div>
</div>

<div class="container center">
  <div class="row">
    <div class="col s8 offset-s2 home-blurb">
      <p>We are a group of friends that saw a need for some better options in the motorcycle
          aftermarket.  There are so many bikes that no one cares about.  Those shouldn't be
          neglected just because they aren't one of the few top models.
      </p>
      <p>We are striving to make
          safe, quality accessories in the USA that we plan to use on our own bikes.  We
          hope you like them enough to use them too!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="slider">
    <ul class="slides">
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/1"> &lt;!&ndash; random image &ndash;&gt;-->
        <%= image_tag 'home/slider-1.jpg' %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/2"> &lt;!&ndash; random image &ndash;&gt;-->
        <%= image_tag 'home/slider-2.jpg' %>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/3"> &lt;!&ndash; random image &ndash;&gt;-->
        <%= image_tag 'home/slider-3.jpg' %>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/4"> &lt;!&ndash; random image &ndash;&gt;-->
        <%= image_tag 'home/slider-4.jpg' %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <h5 class="lead-form-header center">
    Want to be the first one to try our products? Sign up here.
  </h5>
  <div class="row">
    <form id="leadForm" class="col s8 offset-s2">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="model" name="model" type="text" class="validate">
          <label for="model">Motorcycle Model</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <button class="btn right">Submit</button>
    </form>
  </div>
</div>
